set tabstop=4       " The width of a TAB is set to 4.
                    " Still it is a \t. It is just that
                    " Vim will interpret it to be having
                    " a width of 4.

set shiftwidth=4    " Indents will have a width of 4

set smarttab        " Insert 'tabstop' number of spaces when the “tab” key is pressed.

set softtabstop=4   " Sets the number of columns for a TAB

set expandtab       " Expand TABs to spaces

set laststatus=2
set colorcolumn=120
set cursorline
set cursorcolumn
set number
set hlsearch   " search result hightlighted
set autoindent " new lines inherit the indentation of previous lines.
set incsearch  " Incremental search that shows partial matches.
set ignorecase " Ignore case when searching.
set smartcase  " Automatically switch search to case-sensitive when search query contains an uppercase letter.
set ruler      " show line/column of cursor
set statusline+=%F

hi CursorLine   cterm=NONE ctermbg=darkgray ctermfg=white guibg=darkred
hi CursorColumn cterm=NONE ctermbg=darkgray ctermfg=white guibg=darkred
syntax on

hi ColorColumn  ctermbg=darkgray
hi statusline guibg=Cyan ctermfg=6 guifg=Black ctermbg=0

